
<app-chart key="0" title="Chart 0"></app-chart>
<!-- <div class="row">
  <div class="col">
    <app-chart key="0" title="Chart 0"></app-chart>
  </div>
  <div class="col">
    <app-chart key="1" title="Chart 1"></app-chart>
  </div>
  <div class="col">
    <app-chart key="2" title="Chart 2"></app-chart>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-chart key="3" title="Chart 3"></app-chart>
  </div>
  <div class="col">
    <app-chart key="4" title="Chart 4"></app-chart>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-chart key="5" title="Chart 5"></app-chart>
  </div>
  <div class="col">
    <app-chart key="6" title="Chart 6"></app-chart>
  </div>
  <div class="col">
    <app-chart key="7" title="Chart 7"></app-chart>
  </div>
  <div class="col">
    <app-chart key="8" title="Chart 8"></app-chart>
  </div>
</div> -->